apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
- name: srinandans-hybr-prod1-1d0dc5e-encryption-keys
  namespace: apigee
  options:
    disableNameSuffixHash: true
  literals:
    - cacheEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
    - envKvmEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
    - kmsEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
    - kvmEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
