apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apigee-system

images:
- name: ${HUB}/apigee-kube-rbac-proxy
  newTag: v0.8.0
- name: ${HUB}/apigee-operators
  newTag: ${TAG}

patches:
- path: controller.yaml
  target:
    group: apps
    kind: Deployment
    name: apigee-controller-manager
    version: v1
- patch: |-
    - op: replace
      path: /spec/template/metadata/labels/revision
      value: "${VERSION}"
  target:
    kind: Deployment
    name: apigee-controller-manager
    version: v1

resources:
- namespace.yaml
- ../../base/controller

components:
- node-selector
