apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# default namespace for istio control plane
namespace: istio-system

patches:
- patch: |-
    - op: replace
      path: /metadata/name
      value: apigee-envoyfilter-1-${ASM_MINOR_VERSION}
  target:
    kind: EnvoyFilter
    name: apigee-envoyfilter
    version: v1alpha3
- patch: |-
    - op: replace
      path: /spec/configPatches/0/match/proxy/proxyVersion
      value: ^1\.${ASM_MINOR_VERSION}.*
  target:
    kind: EnvoyFilter
    name: .*
    group: networking.istio.io
    version: v1alpha3
- patch: |-
    - op: replace
      path: /spec/configPatches/2/match/proxy/proxyVersion
      value: ^1\.${ASM_MINOR_VERSION}.*
  target:
    kind: EnvoyFilter
    name: apigee-envoyfilter
    group: networking.istio.io
    version: v1alpha3
- patch: |-
    - op: replace
      path: /metadata/name
      value: apigee-xff-1-${ASM_MINOR_VERSION}
  target:
    kind: EnvoyFilter
    name: apigee-xff
    version: v1alpha3
- patch: |-
    - op: replace
      path: /metadata/name
      value: apigee-ingress-accesslog-1-${ASM_MINOR_VERSION}
  target:
    kind: EnvoyFilter
    name: apigee-ingress-accesslog
    version: v1alpha3
- patch: |-
    - op: replace
      path: /metadata/name
      value: apigee-edge-proxy-1-${ASM_MINOR_VERSION}
  target:
    kind: EnvoyFilter
    name: apigee-edge-proxy
    version: v1alpha3


resources:
- ../../base/envoyfilters
#- xff.yaml
#- accesslog.yaml
#- edge-proxy.yaml
