kind: ApigeeTelemetry
apiVersion: apigee.cloud.google.com/v1alpha1
metadata:
  name: apigee-telemetry
spec:
  clusterName: ${CLUSTER_NAME}
  clusterRegion: ${CLUSTER_REGION}
  gcpProjectID: ${PROJECT_ID}
  metricsExport:
    enabled: true
    defaultMetricsProjectID: ${PROJECT_ID}
    appMetricsProjectID: ${PROJECT_ID}
    proxyMetricsProjectID: ${PROJECT_ID}
  components:
    metrics:
      version: "${VERSION}"
    containerLogs:
      version: "${VERSION}"
