apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- patch: |-
    - op: add
      path: /spec/components/cassandra/properties/datacenter
      value: ${DATA_CENTER}
  target:
    group: apigee.cloud.google.com
    kind: ApigeeDatastore
    name: .*
    version: v1alpha1
- patch: |-
    - op: add
      path: /spec/components/cassandra/properties/multiRegionSeedHost
      value: ${SEED_HOST}
  target:
    group: apigee.cloud.google.com
    kind: ApigeeDatastore
    name: .*
    version: v1alpha1
