apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
- name: apigee-datastore-default-creds
  namespace: apigee
  options:
    disableNameSuffixHash: true
  literals:
    - default.password=iloveapis123
    - admin.user=admin_user
    - admin.password=iloveapis123
    - dml.user=dml_user
    - dml.password=iloveapis123
    - ddl.user=ddl_user
    - ddl.password=iloveapis123
    - jmx.user=jmxuser
    - jmx.password=iloveapis123
    - jolokia.user=jolokiauser
    - jolokia.password=iloveapis123
- name: apigee-redis-default-creds
  namespace: apigee
  options:
    disableNameSuffixHash: true
  literals:
    - redis.auth.password=iloveapis123
- name: ${ORG}-ax-salt
  namespace: apigee
  options:
    disableNameSuffixHash: true
  literals:
    - salt="nH-_n=)|6|?)=j)ZWt)mj`NP}7|?#}P"
- name: ${ORG}-encryption-keys
  namespace: apigee
  options:
    disableNameSuffixHash: true
  literals:
    - kmsEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
- name: ${ORG}-data-encryption
  namespace: apigee
  options:
    disableNameSuffixHash: true
  literals:
    - plainTextDEK=ciBhPknntmkMCbJDfLfGAvb8A0u0UHni
- name: ${ENV}-encryption-keys
  namespace: apigee
  options:
    disableNameSuffixHash: true
  literals:
    - cacheEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
    - envKvmEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
    - kmsEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
    - kvmEncryptionKey=bkgtX249KXw2fD8pPWopWld0KW1qYE5QfTd8PyN9UCI=
